body {
    font-family: 'Inter', sans-serif;
    color: #e0e0e0;
    background-image: url(../images/back2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}


.navbar {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    background: rgba(131, 131, 131, 0);
    border: 0.5px solid rgba(134, 134, 134, 0.227);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.0px);
    -webkit-backdrop-filter: blur(2.0px);

}

.items {
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
    font-weight: 500;
    color: #d1d5db;
    transition-property: color;
    transition-duration: 200ms;
}

.nav-link:hover {
    color: #ffffff;
}

.hero {
    /* background-size: 100vw 100vh; */
    height: 500px;
}

/* Add this to your mycss.css file */

.gradient-byte {
    background-image: linear-gradient(45deg, #6a11cb, #2575fc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 50px;
    font-weight: bold;
}

.getstarted {
    background-color: #d1d5db;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.getstarted:hover {
    transform: translateY(-2px);
}

.customcard {
    /* Semi-transparent background is essential for backdrop-filter to work */
    background: rgba(131, 131, 131, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    /* This is the main property for the blurry effect */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: white;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.Features {
    /* background-color: #000000; */
    height: 500px;
    background: rgba(131, 131, 131, 0);
    border-radius: 16px;
    border: 0.5px solid rgba(134, 134, 134, 0.227);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.0px);
    -webkit-backdrop-filter: blur(3.0px);
}
/* responsive cards 4 */
@media (max-width: 900px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 400px;
        margin-bottom: 1rem;
    }
}
.Solutions{
    background-color: #cbcbcb; 
    height: 500px;
    border-radius: 16px;

}